*{
    margin: 0;
    padding: 0;
    font-family: "Gloria Hallelujah", cursive;
}

body {
  margin: 0;
  background-color: black;
}

header {
  background-color: black;
    font-family: 'Segoe UI', sans-serif;
  padding: 40px 20px;
  text-align: center;
  position: relative;
}

.logo {
  position: absolute;
  top: 10px;
  left: 20px;
}

.logo img {
  width: 55px;
  height: 45px;
}

nav {
  position: absolute;
  top: 20px;
  right: 20px;
}

nav a ul {
  display: flex;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.button {
  padding: 8px 16px;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  font-weight: bold;
}
.hero {
  width: 100%;
  height: 590px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.hero1 img {
 border-radius: 50%;
 border: 5px solid #3c3c3c;
}

.hero img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 313px;
  opacity: 0.5;
  z-index: 1;
  border-radius: 50%;
}

.hero1 h1 {
  color: white;
}

.hero h1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  position: relative;
  z-index: 2;
}

.hero h2 {
  color: white;
  position: relative;
  top: 200px;
  font-size: 48px;
  text-align: center;
}

.container-uno {
    margin-top: 128px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
    align-items: center;
}

.character {
  width: 550px;
  display: flex;
  align-items: center;
  gap: 20px;
  background: #222;
  border-radius: 20px;
  color: white;
}

.character img {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}

.character h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.character p {
  font-size: 24px;
  margin-bottom: 30px;
  margin-left: 5px;
}

.character a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 6px;
  transition: all 0.2 ease;
}

.character a:hover {
  background-color: white;
  color: black;
}

.character {
  text-align: center;
}

.info {
  color: rgb(255, 255, 255);
  background-color: #222;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 9px 0 9px;
  font-size: 1.4rem;
  flex-direction: column;
  gap: 15px;
  display: flex;
  width: 35%;
  border-radius: 10px;
  list-style: none;
}

.info a {
  text-decoration: none;
  background-color: rgb(118, 100, 100);
  width: 110px;
  margin: 0 200px;
  padding: 0 10px 10px;
  text-align: center;
  transition: all 0.5s ease;
  color: white;
  border-radius: 5px;
}

.info a:hover {
  background: rgb(118, 142, 125);
  color: white;
}

#pagination{
    display: flex;
    max-width: 1100px;
    margin: 20px auto;
    width: 80%;
    border-color: #000;
    gap: 10px;
    flex-wrap: wrap;
}

#pagination a{
    display: block;
    width: fit-content;
    color: #fff;
    padding: 5px;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.5s ease;
}

#pagination a:hover{
    background: rgb(93, 143, 122);
    color: white;
}

.buscar {
    position: absolute;
    top: 7px;
    margin: 10px;
    left: 71px;
}

.buscar input {
    border-radius: 100px;
    margin: auto;
    padding: 0 0 0 12px;
}

.buscar button {
    border-radius: 20px;
    padding: 0 5px 0 5px;
}

.footer{
  position: absolute;
  width: 93.3%;
  background: #222;
  text-align: center;
  align-items: flex-end;
  min-height: 150px;
  padding: 20px 50px;
    margin-top: 40px;
}

.social-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px 5px;
  flex-wrap: wrap;
  text-align: center;
}

.icon-elem{
  list-style: none;
}

.icon{
  color: white;
  font-size: 32px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.5s;
}

.icon:hover{
  transform: translateY(-10px);
}

.menu{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  list-style: none;
}

.menu-icon{
  color: white;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px;
  opacity: 0.5;
  transition: 0.3s;
}

.menu-icon:hover{
  opacity: 1;
}

@media(max-width:1024px) {
  .container-uno {
    position: relative;
    display: flex;
    margin: 4px 3px 11px 0px;
    padding: 3px 3px 5px 2px;
    flex-direction: column;
    gap: 52px;
  }

  .hero1 img {
    height: 500px;
  }

  .hero1 h1 {
  color: white;
  position: relative;
  left: 19px;
  font-size: 60px;
}

  .info {
    width: 681px;
    height: 480px;
    padding: 40px;  
    font-size: 2.2rem;
  }

  .info a {
    position: relative;
    width: 170px;
    padding: 15px;
    left: 40px;
  }

  .footer {
    width: 90%;
  }
}

@media (max-width:768px) { 

.hero {
 top: 170px;
 left: 0px;
}

.hero1 img {
        height: 500px;
        position: relative;
        left: 95px;
}

  .container-uno {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.character {
    width: 300px;
    height: 500px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position: relative;
    left: 33px;
}

.character h2{
   font-size: 20px;
}

.character img {
    height: 292px;
    width: 295px;
    border-radius: 20px;
    position: relative;
    bottom: 34px;
}

.character_content {
    position: relative;
    bottom: 20px;}

.buscar {
    position: absolute;
    top: 10px;
    margin: 10px;
    left: 113px;
    top: 46px;
}

.buscar input {
    border-radius: 100px;
    margin: auto;
    padding: 0;
}

.logo {
  position: absolute;
  top: 12px;
  left: 14px;
}

.hero img {
  top: 20%;
  width: 240px;
  height: 238px;
  left: 234px;
}

.hero1 h1 {
  color: white;
  position: relative;
  left: 158px;
  font-size: 60px;
}


.hero h1 {
  bottom: 30%;
  font-size: 35px;
  left: 22px;
}

 nav {
  display: flex;
  text-align: end;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  top: 50px;
  right: 36px;
 }
  nav a {
  position: relative;
  display: inline;
  bottom: 40px;
 }
 .button {
  border: 2px solid rgb(0, 0, 0);
}

#paginatios {
  display: flex;
}
}